<template #aceClubs>
	<div class="card">
		<div class="front">
			<div class="ace">&clubs;</div>
		</div>
	</div>
</template>
<template #tenClubs>
	<div class="card">
		<div class="front">
			<div class="spotA1">&clubs;</div>
			<div class="spotA2">&clubs;</div>
			<div class="spotA4">&clubs;</div>
			<div class="spotA5">&clubs;</div>
			<div class="spotB2">&clubs;</div>
			<div class="spotB4">&clubs;</div>
			<div class="spotC1">&clubs;</div>
			<div class="spotC2">&clubs;</div>
			<div class="spotC4">&clubs;</div>
			<div class="spotC5">&clubs;</div>
		</div>
	</div>
</template>
